<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Website{% endblock %}</title>
  <link href="static/style.css" rel="stylesheet" >
  
  
</head>
<body>

  
   <div class="menu-icon">
  <a href="/nav"><p>☰</p></a>
   </div>

    

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'error' %}
<div role="alert" class="alert alert-danger">
{{ message }}
<button type="button" data-dismiss="alert">
  <span aria-hidden="true">&times;</span>
</button>
</div>
{% else %}
<div role="alert" class="alert alert-success">
  {{ message }}
  <button type="button" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  {% endif %}
{% endfor%}
{%endif%}
{% endwith %}
  <div>
    {% block content %}
    {% endblock %}
  </div>

  <footer class="footer">
    <div class="footer-content">
      <img src= "{{ url_for('static', filename='file_0000000051a8620a8e2cce67cac70511.png') }}" alt="school logo" class="footer-logo">
  </div>
  <p class="footer-writing">Kings And Queens School Asaba</p>
  <br><br>

  <div class="footer-links">
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/privacypolicy">Privacy Policy</a>
  </div>
  <div class="footer-links">
    <br><br>
    <p><b>Quick Links</b></p>
    <p><a href="/nursery">Nursery</a></p>
    <p><a href="/primary">Primary</a></p>
    <p><a href="/secondary">Secondary</a></p>
    <p><a href="/login">Login</a></p>
  </div>
</div>
<br>
    <p> Website created by Chineye Olie &copy; {{ current_year}}</p>
  </footer>
</body>
</html>