{% extends 'base.html' %}
{% block title %}Graduation{% endblock %}

{% block content %}
<div class="image-section">
    <img src="{{ url_for('static', filename='IMG_20240721_144230_932.jpg') }}" alt="primary Section"></div>
    <div class="text">
        <p>Our Graduation Ceremony is one of the most anticipated events of the year . A joyful celebration of growth, learning, and achievement. Held once every year, it provides our pupils and students with a special opportunity to showcase their talents and confidence before parents, teachers, and guests.</p>
    </div>
</div>

<div class="image-section">
    <img src="{{ url_for('static', filename='IMG_20250727_163348_210.jpg') }}" alt="primary Section"></div>
    <div class="text">
        <p>During the ceremony, our learners take part in public speaking, dance, and drama performances, helping them build courage, creativity, and self-expression. Beyond the excitement and celebration, the event serves as valuable training in communication and stage confidence essential life skills for their future.</p>
    </div>

        <div class="image-section">
            <img src="{{ url_for('static', filename='IMG_20250727_125419_003.jpg') }}" alt="primary Section"></div>
            <div class="text">
                <p>It’s a memorable day where our graduates are honored and celebrated for their hard work, accomplishments, and bright potential. At Kings and Queens School, every graduation reminds us that each child is indeed a king or queen destined for greatness.</p>
            </div>
    {% endblock %}