{% extends 'base.html' %}
{% block title %}Primary{% endblock %}

{% block content %}
<div class="image-section">
    <img src="{{ url_for('static', filename='IMG_20240927_091703_446.JPG') }}" alt="primary Section">
    <div class="text"><p>
        At Kings and Queens School, we believe that children learn best when they are actively involved in the learning process. In our Primary Section, learning goes beyond textbooks and oral lessons.
    </p>

    <img src="{{ url_for('static', filename='IMG_20250310_083028_496.JPG') }}" alt="primary Section">
    <p>
        our pupils learn by doing. Through hands-on activities, creative projects, experiments, and real-life applications, we help them understand and remember what they learn.
    </p>

    <img src="{{ url_for('static', filename='IMG_20250318_130306_829.JPG') }}" alt="primary Section">
    <p>
        Every subject is taught with practical experiences that make learning exciting and meaningful. Our goal is to bring out the best in every child by nurturing their curiosity, problem-solving skills, and confidence.    
    </p>

    <img src="{{ url_for('static', filename='IMG_20241015_091909_399.JPG') }}" alt="primary Section">
    <p>
        With dedicated teachers and a supportive environment, we ensure that each pupil receives a solid academic foundation built on understanding, not just memorization. 
    </p> 
   </div>
</div>

{% endblock content %}