{% extends 'base.html' %}
{% block title %}Secondary{% endblock %}

{% block content %}
<div class="image-section">
    <img src="{{ url_for('static', filename='IMG_20251113_133109_063.jpg') }}" alt="secondary Section"></div>
    <h1>K&Q Secondary School</h1>
    <div class="text">
    <p>our Secondary Section is dedicated to molding well-rounded students who excel both academically and morally. We go beyond classroom learning — shaping character, discipline, and integrity while instilling a sense of responsibility and respect in our students. Guided by our motto, “Qualitative Education,” we combine strong academic standards with moral upbringing to prepare our learners for success in life.
    </p></div>
    <p>We are fully open for WAEC and NECO registration, and our teaching strictly follows the approved WAEC and NECO subjects and curriculum. With experienced teachers and a supportive environment, we ensure that every student is thoroughly prepared — not only to pass their exams but to stand out as confident, principled young leaders.</p>

{% endblock %}